div.container {
  border-left: 5px solid darken($primary, 15%);
  padding: 55px;
}

.sub-widget {
  margin: 30px 0;
}

.sub-callout {
  color: $primary;
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 200%;
  font-weight: bold;
}

.primary-text {
  color: $primary;
}

.background-image {
  background-position: center bottom;
  background-size: cover;
}

.leadin {
  font-size: 120%;
}

.mono {
  font-family: $font-family-mono;
}

.centered {
  text-align: center;
}

.telegram-box {
  padding: 15px 25px;
  background: white;
  border: $subtle-shade 1px solid;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 0 darken($primary, 10%);
  font-weight: bold;
}

.choice-box {
  background: white;
  padding: 20px;
  border: 1px solid $primary;

  a, a:visited {
    text-decoration: none;
    opacity: 0.8;

    &:first-child {
      border-right: 1px solid $subtle-shade;
    }

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}

.avatar {
  height: 100px;
  margin: 0 auto;
  width: 100px;

  img {
    border: 5px solid #fff;
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,.2);
    border-radius: 50%;
  }
}

.future-stream {
  padding: 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 150%;

  p {
    text-align: center;
    padding: 35px;
  }
}
