.sub-widget {
  margin: 30px 0;
}

.sub-callout {
  color: $primary;
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 200%;
  font-weight: bold;
}

.primary-text {
  color: $primary;
}

.background-image {
  background-position: center bottom;
  background-size: cover;
}

.leadin {
  font-size: 120%;
}

.mono {
  font-family: $font-family-mono;
}
